@page
@model _6._Films._Razor_Pages.Pages.DetailsModel

@{
    ViewData["Title"] = "Детали";
}

<h1>Детали</h1>
<hr />

<div>
    <p>
        Название: @Html.DisplayFor(modelItem => Model.Film.Name)
    </p>
    <img src="@Model.Film.Poster" alt="Постер">
    <p>
        Жанр: @Html.DisplayFor(modelItem => Model.Film.Genres)
    </p>
    <p>
        Режиссер: @Html.DisplayFor(modelItem => Model.Film.Director)
    </p>
    <p>
        Год: @Html.DisplayFor(modelItem => Model.Film.Year)
    </p>
    <p>
        @Html.DisplayFor(modelItem => Model.Film.Description)
    </p>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Film.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
